<section id="qr">
	<div class="d-flex align-items-center">
		<button class="btn btn-sm btn-primary" onClick="history.back()">Back</button>
	</div>
	<hr>
	<img src="{$url}" alt="QR code" title="QR Code">
</section>
