{layout "../layout/module.latte"}

{block content}
<section id="edit" class="p-2">
	{include parent}
	{include "form-edit.latte"}
	{include 'profiler.latte'}
</section>
<script src="/assets/js/tinymce/tinymce.min.js"></script>
<script src='/assets/js/form.js'></script>
{/block}
