{layout "../layout/module.latte"}

{block content}
<section id="index" class="p-2">
	{include parent}
	{include "table/actions.latte"}
	{include "filters/accordion.latte"}
	{include "filters/links.latte"}
	<section id="module-table">
		{include 'table/table.latte'}
		{include 'table/pagination.latte'}
		{include 'profiler.latte'}
	</section>
</section>
{/block}
