/**
 * Module
 */
#main {
  height: 100%;
}

#module {
  height: 100%;
  width: 100%;
  overflow-y: auto}

#module .module-title h1 {
  font-size: 1.9rem;
}

/**
 * Form
 */
.form-row .label {
  width: 120px;
}
.form-row .control {
  width: 320px !important;
}
#edit form, #create form {
  margin-top: 20px;
}

/**
 * Table
 */
.table {
  margin-bottom: 0;
}

.table thead th {
  white-space: nowrap;
}

.table-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow-x: auto;
  background-color: #fff;
}

#table input[type="search"] {
  padding: 7px 0 7px 30px;
  background-image: url("/assets/img/magnifying_glass.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

/**
 * Search 
 */
#pagination li.page-item a.page-link {
  cursor: pointer;
}
#pagination li.page-item.disabled {
  cursor: not-allowed;
}
#pagination #page-selector {
  color: royalblue;
  background-color: #fff;
  border-top: 1px solid #d6dee1 !important;
  border-bottom: 1px solid #d6dee1 !important;
}

#pagination #page-selector:hover {
  cursor: pointer;
  background-color: #eee;
}

/**
 * Sidebar
 */
#sidebar {
  max-width: 220px;
  font-size: 1.1rem;
}
#sidebar #gravatar {
  height: 24px;
}
#sidebar #project-logo {
  height: 30px;
  width: 30px;
}
#sidebar #project-name {
  font-size: 2rem !important;
}
#sidebar ul li.nav-item a {
  margin: 0;
  padding: 0;
  padding-left: 6px;
}
#sidebar li.nav-item a svg {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
#sidebar ul li {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 12px;
}
#sidebar .nav-pills li.nav-item.active a {
  color: #fff !important;
  font-weight: 900;
}
#sidebar .nav-pills li.nav-item a {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #aaa !important;
}
/** Sidebar Mobile */
@media (max-width: 1199.98px) {
  #sidebar #project-logo {
    height: 40px;
    width: 40px;
  }
  #sidebar li.nav-item a svg {
    width: 24px;
    height: 24px;
  }
}

/**
 * Alerts
 */
.alerts {
  width: 100%;
}

.alerts > .flash {
  margin: 10px 0;
}

.flash {
  font-size: 0.9rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-left-style: solid;
  border-width: 5px;
  padding: 20px;
}

.alerts strong {
  margin-right: 10px;
}

.alerts .error {
  border-left-color: red;
  background-color: #fff0f0;
}
.alerts .error strong {
  color: red;
}
.alerts .success {
  border-left-color: #97f7a2 !important;
  background-color: #f0fff1;
}
.alerts .success strong {
  color: #0eb024;
}
.alerts .warning {
  border-left-color: #ffb53d !important;
  background-color: #fffff0;
}
.alerts .warning strong {
  color: #ffb53d;
}
.alerts .database {
  border-left-color: rebeccapurple !important;
  background-color: #fff2fa;
}
.alerts .database strong {
  color: rebeccapurple;
}
.alerts .info {
  border-left-color: royalblue !important;
  background-color: #f0faff;
}
.alerts .info strong {
  color: royalblue;
}
.alerts ul {
  margin: 0;
  padding: 0;
  margin-left: 52px;
}

/**
 * Utility
 */
*:focus {
  outline: none;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
