/**
 * Module
 */
#main {
  height: 100%;
}

#module {
  height: 100%;
  width: 100%;
  overflow-y: auto
}

#module .module-title h1 {
  font-size: 40px;
  font-weight: 600;
  color: #102a3c;
}

/**
 * Form
 */
#edit form, #create form {
  margin-top: 20px;
}
.form-row {
  margin-bottom: 10px;
}
.form-row .label {
  color: #555;
  padding-top: 2px;
  min-width: 100px;
}
.form-row .control {
  max-width: 320px !important;
}
.form-row .control-color {
  width: 42px !important;
  height: 30px !important;
}
.form-row .control-textarea {
  height: 300px;
}
.form-row .control-image {
  max-width: 245px;
}
.form-row .file-button {
  font-size: 1.1rem !important;
  padding:  2px 6px;
}
.form-row .file-label {
  max-width: 150px;
}


/**
 * Table
 */
.table {
  color: #102a3c;
  margin-bottom: 0;
}

.table thead {
  background-image: linear-gradient(45deg, #102a3c, #050e14);
}

.table thead th {
  white-space: nowrap;
}

.table-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow-x: auto;
  background-color: #fff;
}

#table input[type="search"] {
  padding: 7px 0 7px 30px;
  background-image: url("/assets/img/magnifying_glass.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

/**
 * Search 
 */
#pagination li.page-item a.page-link {
  cursor: pointer;
}
#pagination li.page-item.disabled {
  cursor: not-allowed;
}
#pagination #page-selector {
  color: royalblue;
  background-color: #fff;
  border-top: 1px solid #d6dee1 !important;
  border-bottom: 1px solid #d6dee1 !important;
}

#pagination #page-selector:hover {
  cursor: pointer;
  background-color: #eee;
}
/**
 * Navbar
 */
#navbar {
  background-image: linear-gradient(45deg, #050e14, #102a3c);
}
#navbar #project-logo {
  height: 30px;
  width: 30px;
  margin: 5px;
}
#navbar #project-name {
  font-size: 2rem !important;
}
#navbar .dropdown-menu a {
 color: #222;
}

/**
 * Sidebar
 */
#sidebar {
  background-image: linear-gradient(45deg, #102a3c, #050e14);
  max-width: 220px;
  font-size: 1.1rem;
}
#sidebar #gravatar {
  height: 24px;
}
#sidebar #project-logo {
  height: 30px;
  width: 30px;
  margin: 12px;
}
#sidebar #project-name {
  font-size: 2rem !important;
}
#sidebar ul li.nav-item a {
  margin: 0;
  padding: 0;
  padding-left: 6px;
}
#sidebar li.nav-item a svg {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
#sidebar ul li {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 12px;
}
#sidebar .nav-pills li.nav-item.active a {
  color: #ffffb3 !important;
  font-weight: 900;
}
#sidebar .nav-pills li.nav-item a {
  color: #aaa !important;
}

/**
 * Alerts
 */
.alerts {
  width: 100%;
}

.alerts > .flash {
  margin: 10px 0;
}

.flash {
  font-size: 0.9rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-left-style: solid;
  border-width: 5px;
  padding: 20px;
}

.alerts strong {
  margin-right: 10px;
}

.alerts .error {
  border-left-color: red;
  background-color: #fff0f0;
}
.alerts .error strong {
  color: red;
}
.alerts .success {
  border-left-color: #97f7a2 !important;
  background-color: #f0fff1;
}
.alerts .success strong {
  color: #0eb024;
}
.alerts .warning {
  border-left-color: #ffb53d !important;
  background-color: #fffff0;
}
.alerts .warning strong {
  color: #ffb53d;
}
.alerts .database {
  border-left-color: rebeccapurple !important;
  background-color: #fff2fa;
}
.alerts .database strong {
  color: rebeccapurple;
}
.alerts .info {
  border-left-color: royalblue !important;
  background-color: #f0faff;
}
.alerts .info strong {
  color: royalblue;
}
.alerts ul {
  margin: 0;
  padding: 0;
  margin-left: 52px;
}

/**
 * Utility
 */
*:focus {
  outline: none;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Mobile
 */
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #main {
    height: calc(100% - 56px);
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #sidebar #project-logo {
    height: 40px;
    width: 40px;
  }
  #sidebar li.nav-item a svg {
    width: 30px;
    height: 30px;
  }
  #sidebar #sidebar-links li.nav-item {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms--justify-content: center;
    justify-content: center;
    margin-bottom: 15px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}
