<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nebula</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  </head>
  <body id="body">
    <div id="svelte-app"></div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>
