<tr id="filter-search" n:if="$has_filter_search">
	<td class="text-end pe-1"><strong class="truncate">Search</strong></td>
	<td class="w-100">
		<input id="search-input"
			type="search"
			name="search"
			class="form-control form-control-sm w-100"
			hx-get="{$route('module.index.part')}"
			placeholder="..."
			value="{$filter_search_term}"
			hx-trigger="keyup changed delay:500ms, search"
			hx-target="#module"/>
	</td>
</tr>
