{foreach $filter_select as $column => $title}
<tr id="filter_select[{$column}]">
		<td class="text-end pe-1">
			<strong class="truncate" title="{$title}">{$title}</strong>
		</td>
		<td class="w-100">
			{$filter_select_control($column, $filter_selections[$column] ?? '')|noescape}
		</td>
	{/foreach}
</tr>
