<div class="d-flex justify-content-center" hx-get="?user_online_status={$user_id}" {if $update}hx-trigger="every 5s"{/if} hx-swap="outerHTML">
	<div class="{$class}" style="width: 15px; height: 15px; border-radius: 50%;"></div>
</div>
