<h1 class="header">{$post->title}</h1>
<h4>{$post->subtitle}</h4>
<div id="info" class="my-3">
	<span id="publish-date">Published: {$published_at}</span><br />
	<span id="author">Author: {$post->author()->name}</span>
</div>
<div id="content">
	{$post->content|noescape}
</div>
