
{layout "../layout/blog.latte"}

{block content}
<section id="post">
	<div class="d-flex align-items-center">
		<a class="btn btn-sm btn-primary" href="{$link}">Back</a>
	</div>
	<hr>
	{include "./post.latte"}
</section>
{/block}
