<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{block title}{$app['name']}{/block}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {block head} 
      <link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
      <link rel="manifest" href="/assets/ico/site.webmanifest">
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link href="/assets/css/style.css" rel="stylesheet">
      <link rel="stylesheet" href="/assets/css/module.css" defer>
      <script src="/assets/js/bootstrap.bundle.min.js" defer></script>
    {/block}
  </head>
  <body id="body" hx-history-elt>
  {block body} 
  {/block}
  {block body_scripts} 
    <script src="/assets/js/feather.min.js"></script>
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <!-- Слава Україні! -->
    <script src="https://cdn.jsdelivr.net/npm/save-ukraine@0.18.0/dist/umd/main.js" integrity="sha384-Xn1RAG80M8PZlBQh3r8fUvHY7c8RtuplSnqXOkdJyCxqRsToRwJ1m2FP7vyJo7u/" crossorigin="anonymous"></script>
    <script>
        Ukraine.save({
         text: 'Stop the war with <b>Ukraine</b>',
          ribbon: 'BOTTOM_RIGHT',
          hasShadow: true,
          countries: ["ru"],
          isInConsole: true,
          isBloodIncluded: true,
          isGraphicIncluded: true,
          isCancelable: true,
        });
    </script>
  {/block}
  </body>
</html>
