{layout "../layout/base.latte"}

{block head}
{include parent}
{/block}

{block title}{include parent} Blog{/block}

{block body}
<section id="main">
	{block content}
	{/block}
</section>
{/block}

{block body_scripts}
{include parent}
{/block}
