<nav aria-label="breadcrumb" id="breadrumbs">
  <ol class="breadcrumb" hx-boost="true">
    {foreach $breadcrumbs as $title => $link}
    <li class="breadcrumb-item" {if $title === 'Home'}data-module='home'{/if}><a hx-target="#module" href="{$link}">{$title}</a></li>
    {/foreach}
  </ol>
</nav>
