{layout "../layout/base.latte"}

{block body}
{include "../backend/navbar.latte"}
<section id="main" class="d-flex">
  {include "../backend/sidebar.latte"}
  <section id="module" class="p-2">
    {block content}
    {/block}
  </section>
</section>
{/block}
