{layout "../layout/module.latte"}

{block content}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Oops!</strong> The requested module could not be found.
</div>
{/block}
