<div id="actions" class="mt-4 mb-3">
	<a n:if="$table['create'] && $has_create_permission()" class="btn btn-success" href="{$route('module.create.part')}" hx-target="#module" hx-boost="true" title="Create new record"><i class="bi bi-plus-square me-1" /> Create</a>
	<a n:if="$table['export_csv']" class="btn btn-primary" href="{$route('module.index')}?export_csv=true" title="Export to CSV"><i class="bi bi-filetype-csv me-1" /> Export CSV</a>
</div>
